header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8); 
  padding: 15px 0;
  transition: transform 0.3s ease-in-out;
  z-index: 1000; 
}

nav {
  display: flex;
  justify-content: center;
  backdrop-filter: none;
  box-shadow: none;
  background: none;
}

.nav-bar {
  background-color: transparent;
  padding: 1px;
  font-family: "Rubik", sans-serif;
  font-weight: bold;
  font-size: 18px;
}

.nav-links {
  display: flex;
  justify-content: flex-end;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav a {
  color: #fff;
  padding: 14px 20px;
  text-decoration: none;
  text-align: center;
}

.nav-pinned a {
  font-weight: bold;
  color: #ffd900;
}
.nav-bmi a {
  font-weight: bold;
}

.nav-home a {
  font-weight: bold;
}
/*
